body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	word-spacing: 2px;
	font-weight: 700;
	background-color: #000000;
}
p	{
	color: #000000;
	}
h1 {
	color: #5EECFF;
	}
h2 {
	color: #84FF80;
	}